<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel Layout</title>
</head>
<style>
  *{
    margin:0;
    padding:0;
  }
  .panel{
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
  }
  .panel:nth-child(2n){
    background-color: lightblue;
    color:blue;
    background-image: linear-gradient(lightblue,white);
  }

  .panel:nth-child(2n+1){
    background-color: lavender;
    color: purple;
    background-image: linear-gradient(lavender,white);
  }
  p{
    margin: 20px 0px;
  }
</style>
<body>
  <div class='panel'>
    <h1>Panel Title</h1>
    <p>
      Skateboard franzen farm-to-table, +1 cloud bread jean shorts squid mlkshk narwhal 3 wolf moon man braid ennui
      tattooed.
      Church-key affogato seitan, plaid artisan polaroid narwhal offal leggings hammock gastropub. Brooklyn celiac
      health goth
      pug, squid kale chips disrupt swag asymmetrical vegan. Seitan vinyl mlkshk green juice selvage listicle
      readymade
      whatever fanny pack irony wayfarers polaroid farm-to-table aesthetic drinking vinegar. Ugh squid tumeric
      literally. Put
      a bird on it helvetica DIY palo santo gochujang, truffaut cloud bread pinterest lumbersexual four loko 90's
      unicorn
      8-bit echo park af.I'm baby pabst mlkshk adaptogen narwhal sustainable. Sustainable ethical art party ramps
      tattooed
      humblebrag, kogi gastropub poutine keytar chambray seitan kitsch.
    </p>
    <p>
      I'm baby pabst mlkshk adaptogen narwhal sustainable. Sustainable ethical art party ramps tattooed humblebrag,
      kogi
      gastropub poutine keytar chambray seitan kitsch. Venmo bespoke hammock, selfies pug waistcoat freegan pop-up.
      Shoreditch yuccie flannel intelligentsia glossier. Slow-carb organic next level trust fund pitchfork, pinterest
      cronut wayfarers. Ugh wolf gentrify, gastropub you probably haven't heard of them pickled next level typewriter
      selvage asymmetrical pitchfork scenester flexitarian.
    </p>
  </div>
  <div class='panel'>

    <h1>Panel Title</h1>
    <p>
      Skateboard franzen farm-to-table, +1 cloud bread jean shorts squid mlkshk narwhal 3 wolf moon man braid ennui
      tattooed.
      Church-key affogato seitan, plaid artisan polaroid narwhal offal leggings hammock gastropub. Brooklyn celiac
      health goth
      pug, squid kale chips disrupt swag asymmetrical vegan. Seitan vinyl mlkshk green juice selvage listicle
      readymade
      whatever fanny pack irony wayfarers polaroid farm-to-table aesthetic drinking vinegar. Ugh squid tumeric
      literally. Put
      a bird on it helvetica DIY palo santo gochujang, truffaut cloud bread pinterest lumbersexual four loko 90's
      unicorn
      8-bit echo park af.I'm baby pabst mlkshk adaptogen narwhal sustainable. Sustainable ethical art party ramps
      tattooed
      humblebrag, kogi gastropub poutine keytar chambray seitan kitsch.
    </p>
    <p>
      I'm baby pabst mlkshk adaptogen narwhal sustainable. Sustainable ethical art party ramps tattooed humblebrag,
      kogi
      gastropub poutine keytar chambray seitan kitsch. Venmo bespoke hammock, selfies pug waistcoat freegan pop-up.
      Shoreditch yuccie flannel intelligentsia glossier. Slow-carb organic next level trust fund pitchfork, pinterest
      cronut wayfarers. Ugh wolf gentrify, gastropub you probably haven't heard of them pickled next level typewriter
      selvage asymmetrical pitchfork scenester flexitarian.
    </p>
  </div>
  <div class='panel'>

    <h1>Panel Title</h1>
    <p>
      Skateboard franzen farm-to-table, +1 cloud bread jean shorts squid mlkshk narwhal 3 wolf moon man braid ennui
      tattooed.
      Church-key affogato seitan, plaid artisan polaroid narwhal offal leggings hammock gastropub. Brooklyn celiac
      health goth
      pug, squid kale chips disrupt swag asymmetrical vegan. Seitan vinyl mlkshk green juice selvage listicle
      readymade
      whatever fanny pack irony wayfarers polaroid farm-to-table aesthetic drinking vinegar. Ugh squid tumeric
      literally. Put
      a bird on it helvetica DIY palo santo gochujang, truffaut cloud bread pinterest lumbersexual four loko 90's
      unicorn
      8-bit echo park af.I'm baby pabst mlkshk adaptogen narwhal sustainable. Sustainable ethical art party ramps
      tattooed
      humblebrag, kogi gastropub poutine keytar chambray seitan kitsch.
    </p>
    <p>
      I'm baby pabst mlkshk adaptogen narwhal sustainable. Sustainable ethical art party ramps tattooed humblebrag,
      kogi
      gastropub poutine keytar chambray seitan kitsch. Venmo bespoke hammock, selfies pug waistcoat freegan pop-up.
      Shoreditch yuccie flannel intelligentsia glossier. Slow-carb organic next level trust fund pitchfork, pinterest
      cronut wayfarers. Ugh wolf gentrify, gastropub you probably haven't heard of them pickled next level typewriter
      selvage asymmetrical pitchfork scenester flexitarian.
    </p>
  </div>
  
</body>
</html>